<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Programacion Visual</title>
	</head>
	<body>
    <header>
        <h1>Pagina de Programacion Visual</h1>
        <nav>
            <ul>
                <li><a href="#seccion1">Sección 1</a></li>
                <li><a href="#seccion2">Sección 2</a></li>
                <li><a href="#seccion3">Sección 3</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="seccion1">
            <h2>Sección 1</h2>
            <p></p>
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
        </section>

        <section id="seccion2">
            <h2>Sección 2</h2>
            <h3>Subsección A</h3>
            <p>Contenido de la subsección A.</p>
            <h3>Subsección B</h3>
            <p>Contenido de la subsección B.</p>
        </section>

        <section id="seccion3">
            <h2>Sección 3</h2>
            <p>Contenido de la sección 3.</p>
        </section>
    </main>

    <aside>
        <h2>Contenido Adicional</h2>
        <img src=../static/Programacion-visual.jpg alt="Imagen Adicional">
    </aside>

    <footer>
        <p>Contáctanos: eg156765@gmail.com</p>
        <ul>
            <li><a href="https://www.facebook.com/groups/326348747442003">Facebook Facultad</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
        </ul>
    </footer>
</body>
</html>